/*Home Page (Header & Footer also)*/

body{
    font-family: Open Sans;
}
.inline-block{
    display: inline-block;
    vertical-align: middle;
    z-index: 10;
}

.personalLogo{
    width:20%;
    padding-left: 50px;
    text-align: left;
}

.headerText{
    float:right;
    padding-right:100px;
}

ul li{
    font-size: 22px;
    list-style-type:none;
    display:inline;
    padding-left: 60px;
    text-align: right;
}

.heroImg{
    height:600px;
    width: 750px;
    padding: 50px;
}

.heroIntro{
    margin: auto;
}

.selfPhoto{
    width: 30%;
    height:auto;
    float: right;
    padding-left:50px;
}

/*My Work Section*/
.workGrid{
    margin: auto;
    padding: 100px;
    display:grid;
    width:600px;
    height: 300px;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "projectName projectImage"
    "projectDes projectImage"
    "projectDes projectImage"
    "viewProject projectImage"
}

#projectImage{
    grid-area:projectImage;
    background-image: url("../images/placeholderImage.jpg");
}

#projectName{
    grid-area: projectName;
}

#projectDes{
    grid-area: projectDes;
}

#viewProject{
    grid-area: viewProject;
}

/*Mobile Media Query*/
@media only screen and (max-width: 600){
    .workGrid{
        margin: auto;
        padding: 50px;
        display:grid;
        width:500px;
        height: 300px;
        grid-template-rows: 40% 20% 20% 20%;
        grid-template-columns: 100%;
        grid-template-areas:
        "projectImage"
        "projectName"
        "projectDes"
        "viewProject"
    }
}

  .cardContainer {
    margin-top: 20px;
  }
  .card {
    margin: 0 auto;
  }
  
  h1, h2, h3, h4, h5, h6{
    font-family: 'Jura', sans-serif;
  }
  
  p{
    font-family: 'Jura', sans-serif;
  }
  
  .customNav{
    position: fixed;
    width:100%;
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
  
  .navbar-nav{
    margin-left:auto;
    margin-right:0 !important;
  }
  
  .navbar-brand img{
    padding-left: 10px;
    width: 65px;
  }
  
  .navbar-item{
    margin: 0px 15px;
  }
  
  .customNav a{
    color: black !important;
  }
  
  .navCTA {
    font-size: 15px;
  }

  .workHomeBlock{
    width: 80%;
    margin:auto;
  }

  .workHomeBlock img{
    width:50%;
    float: left;
  }

  .workHomeBlock #workHomeText{
    position: absolute;
  }

  .footer {
    position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
    width: 100%;
    padding: 20px;
    background-color: red;
    color: white;
    text-align: center;
  }

